{{> pageheader}}

        {{> header}}

        <p>This page could not be found.</p>
        <p>{{screamIt pageQuestion}}</p>

        <figure>
            <figcaption>Maybe this doggie will cheer your up!</figcaption>
            <img src="http://www.pets4homes.co.uk/images/breeds/377/large/4f48501e401767a114eb2988e174b9ec.jpg">
        </figure>


        {{> footer}}

{{> pagefooter}}
